:root{
  --red: rgb(242, 79, 68);
  --offwhite: rgb(250, 249, 246);
  --orange: rgb(255, 87, 51);
}

body {
  background: var(--offwhite);
  margin: 0;
  padding: 0;
}

/* header (navbar) style */
header
{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #24252a;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
  box-sizing: border-box;
}

header.show {
  transform: translateY(0);
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: bold;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav__links li {
  padding: 0px 20px;
  transition: transform 0.3s ease-in-out;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--red);
}

.cta {
  padding: 9px 25px;
  background: var(--red);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cta:hover {
  background: white;
  color: var(--red);
}

/* cover ("hello my name is") style */
.cover {
    display: flex;
    background: rgb(250, 249, 246);
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
  }
  
  .cover-top {
    height: 120px;
    width: 50%;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: var(--red);
    color: white;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 5px; 
  }
  
  .cover-top p {
    margin: 0; 
    line-height: 1; 
  }
  
  .cover-bottom {
    height: 120px;
    width: 50%;
    padding: 10px;
    padding-top: 20px;
    border-style: solid;
    border-color: black;
    background: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
  }
  
  .cover-bottom p {
    margin: 0; 
    line-height: 1; 
  }

  /* default section style (about, experiences, etc) */
  section {
    background: rgb(250, 249, 246);
    color: black;
    padding: 30px;
    margin: 0;
  }

  section h1 {
    margin: 0.5;
    color: var(--red);
  }

  section h2 {
    margin: 0;
    color: var(--orange);
  }

  section p {
    margin: 0;
  }

  section ul {
    margin: 0;
  }

  /* back to top button when scrolling */
  #top-button {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: var(--red);
    color: white;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }

  #top-button:hover {
    border-style: solid;
    border-color:var(--red);
    background: white;
    border-width: 3px;
  }

  #top-button:hover .arrow {
    border-color: var(--red);
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  /* footer (contact) style */
  footer {
    background: var(--red);
    color: white;
    height: 150px;
    width: 100vw; /* Use viewport width instead of 100% */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0; /* Remove any margin */
    padding: 0;
    position: relative; /* Add position relative */
    left: 50%; /* Move element right by 50% */
    right: 50%; /* Move element right by 50% */
    margin-left: -50vw; /* Pull element back left */
    margin-right: -50vw; /* Pull element back right */
}

  .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    height: 20px; 
    width: 30px;
    background: var(--red);
    border-radius: 25%;
    color: white;
    text-align: center;
    text-decoration: none;
  }  

.fa:hover {
  background: white;
  border-width: 3px;
  color: var(--red);
}

/* general layout style */
.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

#about .row {
  gap: 100px;
}

.button {
  display: inline-block;
  border-radius: 50px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  padding: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.gallery
{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 15px;
  width: 30%;
  min-height: 200px;
}

.gallery h3
{
  margin: 0;
  padding: 10px;
  text-align: center;
  padding-top: 20px;
}

.gallery p
{
  margin: 0;
  padding: 10px;
  padding-bottom: 20px;
}