header
{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #24252a;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
  box-sizing: border-box;
}

header.show {
  transform: translateY(0);
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: bold;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(242, 79, 68);
}

.cta {
  padding: 9px 25px;
  background-color: rgb(242, 79, 68);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: white;
  color: rgb(242, 79, 68);
}

.cover {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
  }
  
  .cover-top {
    height: 120px;
    width: 50%;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgb(242, 79, 68);
    color: white;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 5px; 
  }
  
  .cover-top p {
    margin: 0; 
    line-height: 1; 
  }
  
  .cover-bottom {
    height: 120px;
    width: 50%;
    padding: 10px;
    padding-top: 20px;
    border-style: solid;
    border-color: black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
  }
  
  .cover-bottom p {
    margin: 0; 
    line-height: 1; 
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .center-content
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #top-button {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(242, 79, 68);
    color: white;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }

  #top-button:hover {
    border-style: solid;
    border-color:rgb(242, 79, 68);
    background-color: white;
    border-width: 3px;
  }

  #top-button:hover .arrow {
    border-color: rgb(242, 79, 68);
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  footer {
    background: rgb(242, 79, 68);
    color: white;
    height: 150px;
    text-align: center;
    display: flex;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

  .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    height: 20px; 
    width: 30px;
    background: rgb(242, 79, 68);
    border-radius: 25%;
    color: white;
    text-align: center;
    text-decoration: none;
  }  

.fa:hover {
  background-color: white;
  border-width: 3px;
  color: rgb(242, 79, 68);
}

.column-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}